@charset "UTF-8";
/* CSS Document */
/*a:link, a:visited{text-decoration:none;}*/

	
.descr{
	width:40%;
	float:left;
	color:#333;
	margin-left: 2em;
	margin-top:30px;
	}

.descr strong{font-size:1.2em;}

#apercu .text a.lienweb,#apercu .text .download-pdf{height: 15px;
display: block;
background-color:#66ff99;
margin: 0px;
padding: 3px 10px;
border-radius: 4px;
text-align:center;}

#apercu .text a.lienweb{width:28%;}

#apercu .text a.lienweb.demo{width:71%;}

#apercu .text a.lienweb:hover{background-color: rgb(215, 225, 235);}

.icones{
	display:inline-block;
	}

.icones_bis{
	float:left;
	
	}
.icones_ul{
	display:block;
	}

.text a, .text_Dior a{
	color:black;
	}

.text a:hover{color:#555;}

#apercu{width:100%;height:auto;}

#apercu #diapo{
	width:55%;
	float:left;
	margin-top:20px;
	}

#apercu #diapo.isImagina{
	width:45%;
	}
	
#apercu #diapo img{
	border:1px solid transparent}

#apercu #diapo.isImagina img{width:110%;}

#apercu #diapo img:hover{
	border:1px solid #33ffcc;
	}

#apercu h2{
	font-size:3em;
	font-weight:normal;
	text-transform: uppercase;
	}

	
.motif{
	display:block;
}

.m-real_content{
	padding:0px;
	}
	
.loud{
	width:100%;
	margin:0 auto;
	padding:0 3.5em;
	}
	
.loud .pres{
	float:left;
	width:37%;
	}

.pres.text{width:15%;}

.loud  a li img {

	opacity:0.7;
	margin: 0 0 15px 0;
	outline-offset: 1px;
	position: relative;
	width:622px;
	outline: none;
	z-index: 2;
	cursor:url(../images/cursor-zoom.png),pointer;
}

.loud a li img{
	-webkit-transition: outline .4s ease-in;
    -moz-transition: outline .4s ease-in;
    -o-transition: outline .4s ease-in;
    transition: outline .4s ease-in;
	-webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
	
	}

.loud a:hover li img{
	outline: 2px solid #33ffcc;
	opacity:1;
	
}

.return{
	margin-top:30px;
	}


@media screen and (max-width:730px){
	#apercu #diapo,.descr,#apercu #diapo.isImagina{width:100%;}
	.maininterne .motif,.descr{margin:0px;}
	#apercu .descr p,.m-btn_wrapper{width:50%;float:left;}
	}

@media screen and (max-width:500px){
	.maininterne{padding-top:60px;}
	#apercu .descr p,.m-btn_wrapper{width:100%;clear:both;}
}