@charset "UTF-8";
/* CSS Document */


.clearfix:after {
  content: "";
  display:inline-table;
  height:1%;
  display:block;
  clear: both;}
 
 
#apercu, #apercu_profil{
	min-height:400px;
	background-color:white;
	}
	
#apercu_profil{
	margin-top:30px;
	}


.icones_bis{
	padding-right:20px;
	text-align:center;
	width: 24%;
  	min-height: 100px;
	}
	
.text{
	/*margin-top:10px;*/
	}

.text a{
	display:block;
	padding-top:5px;
	}
	

.pres a{
	font-weight:lighter;
	text-transform:none;
	letter-spacing:0px;
	color: black;
	}

.pres a:hover{
	font-weight:lighter;
	color:#555;
	}

#apercu_profil h2{
	font-size:1.6em;
	font-weight:normal;
	text-transform:none;
	color: rgb(69, 69, 69);
	}

#apercu_profil .motif{
	padding-bottom:10px;	
	}

.info{margin-top:20px;}

.tools{
	float:left;
	width:33%;
	margin:0px;
	text-align:center;
	color:#6b6b68;
	}

.tools p,.tools h3{padding:0px 0.5em;}

.title{
	font-size:20px;
	text-transform: capitalize;
	text-align:center;
	opacity:0.8;
	margin-top:10px;
	}
	

.legende{
	text-align:center;
	font-size:12px;
	color:#6b6b68;
	opacity:0.8;
	}

@media screen and (max-width:800px){
	.loud .pres{width:65%;margin:10px;}
	.pres.icones{display:none;}
	.pres.text{width:14%;margin:10Px;}
	#apercu_profil{min-height:300px;}
	}

@media screen and (max-width:400px){
	.tools{text-align:left;}
	#apercu_profil{margin:10px;}
	.motif{margin:1em 0px;}
	.loud .pres.text{width:24%;}
	.loud .pres{margin:0px;padding-right:10px;width:70%;}
	#apercu_profil h2,.loud{margin:0px;padding:0px;}
	}