@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:'Source-sans-pro';
	src:url(fonts/SourceSansPro-Regular.otf);
	}
	
body{
	margin:0px;
	font-family:'Source-sans-pro';
	font-size: 12px;
	}
	
a{
	cursor:pointer;
	color:black;
	}

#header{
	position:fixed;
	background: rgba(242, 239, 239, 1);
	padding-top:15px;
	top:0;
	right:0;
	left:0;
	z-index: 900;
	border-bottom: 1px solid white;
	}
	
#home,.nav-main{float:left;margin:0px;}
	
#top{
	background-image:url(images/m-top_v2.jpg);
	background-color:white;
	background-repeat:no-repeat;
	background-position: 0% 0%;
  	background-size: 100%;
	padding-bottom:150px;
	}
	
.m-content{
	margin-right:auto;
	margin-left:auto;
	}

.m-content img{
	max-width:100%;
}
.m-content_header.clearfix{
	padding:1.5em 0.4em;
	}

.clearfix:after {
  content: "";
  display:inline-table;
  height:1%;
  display:block;
  clear: both;}
 
nav#m-top_nav{float:right;}

.nav-main img{margin-right:10px;}

ul{
	list-style:none;
	}

.m-content a:hover img{
	opacity:0.7;
	}


.main a img,.goslide a img{
	height:22px;
	}
	
a.m-btn{
	border-radius:30px;
	-webkit-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	-moz-border-radius:30px;
	text-align:center;
	padding-top: .59375rem;
  	padding-bottom: .59375rem;
  	letter-spacing: 0.4px;
	transition-delay: 0s;
  	-webkit-transition: all .25s ease-in-out;
  	-moz-transition: all .25s ease-in-out;
  	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
	padding-right: 3em;
  padding-left: 3em;
}

.nav-main a.m-btn_red, a.m-btn_red{
	color:#de170a;
	border:1px solid #de170a;
	}

.nav-main a.m-btn_red:hover, a.m-btn_red:hover{background-color:#de170a;color:white;}

a.m-btn_green{color:black;background-color:#36EDBF;}

.nav-main a{
	padding: .59375rem 2.5em;
	text-align:center;
	color:rgb(71, 71, 71);
	transition-delay:0s;
	-webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
	letter-spacing:0.4px;
}

.nav-main a:hover{ 
	color:#de170a;
	}
	
h2{font-size:12px;}
	
a{text-decoration:none;
cursor: url(imgs/crosshair.png);}


.cv{margin-left:0px;}

#logos{
	top: 10px;
	right: 20px;
	margin-left:;
	z-index: 9999;
	float:right;
	display:inline-block;
	}

.m-content #logos a{
	background-image:url(imgs/logos_sprite.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	
	}

#Linkedin a{background-position:-48px 0px;}
#Linkedin a:hover{background-position:-72px 0px;}

#VD a{
	background-position:0 0;
	}

#VD a:hover{
	background-position:-24px 0;
	}
	
#FB a{
	margin-top:2px;
	background-position:-48px 0;
	}

#FB a:hover{
	margin-top:2px;
	background-position:-72px 0;
	}

#global{
	  margin: 80px auto 0px;
	}


.menu-vertical{
	display:block;
	margin-left:13em;
	margin-top:2.2em;
	text-transform:uppercase;
	font-size:1.2em;
	
}

.menu-vertical .actif-{
	background:url(images/arrow.png) no-repeat 0 2px;
	padding-bottom:2px;
	padding-left:20px;
	color:black;
	}

.menu-vertical .Survol-Web, .menu-vertical .Survol-Print, .menu-vertical .Survol-Video{
	background:url(images/arrow.png) no-repeat 0 2px;
	opacity:1;
	padding-bottom:2px;
	padding-left:20px;
	color:#333;
	transition: background-color .2s ease-in;
	-moz-transition: background-color .2s ease-in;
	-webkit-transition:background-color .2s ease-in;
	-o-transition:background-color .2s ease-in;
	}
	
.menu-vertical li a{cursor: url(imgs/crosshair.png);}

.menu-vertical .Survol a:hover, .menu-vertical .Survol-Web a:hover, .menu-vertical .Survol-Print a:hover, .menu-vertical .Survol-Video a:hover, .menu-vertical .actif- a:hover {
	opacity:1;
	color:#de170a;
	}
	
#webdesign,#print,#video{padding-top:30px;}

.top{padding-left:0px;}

.top li{
	text-decoration:none;
	display:inline-block;
	}

.top .au_centre{
	margin-left:220px;
	width:30%;
	}
	

#arrow{
	width:930px;
	}

#arrow a{
	display:block;
	width:90px;
	margin-left:72.5%;
	margin-top:350px;
	height:58px;
	bottom:0;
	padding-top:25%;
	height:80px;
	background-image:url(images/arrow_dark2.png);
	opacity:0.4;
	background-repeat:no-repeat;
	}
	
#arrow img{
	margin-left:427px;
	}

#main{padding-top:60px;background-color:#f7f7f7;}
	
#main p,#footer p{font-size:1em;letter-spacing: 0.4px;}
#footer p{-webkit-margin-before: 0;-webkit-margin-after: 0;}

#main, .maininterne{
	margin: 0 auto;
}

.maininterne {
	padding: 7em 1em;
	background-color: #f7f7f7;
	}

#main_profil{
	padding-top:130px;
	}

#bulle_profil{
	background-image:url(images/Bulle_profil.png);
	background-repeat:no-repeat;
	width:930px;
	height:27px;
	}

#footer{
	width:100%;
	height:100%;
	background-color: #000;
	}


#footer p{
	color:#848484;
	padding: 1.5em 0px 5em;
	text-align:right;
	margin: 0px;
		}

.enhaut a{
	display:inline-block;
	width:225px;
	height:120px;
	background-image:url(imgs/btn_cv.png);
	background-repeat:no-repeat;
	background-position:0 -20px;
	transition: background-position 0.5s ease;
	-moz-transition:background-position 0.5s ease;
	-webkit-transition:background-position 0.5s ease;
	-o-transition:background-position 0.5s ease;
	-ms-transition:background-position 0.5s ease;
	cursor:url(imgs/crosshair.png), pointer;
	opacity:0.7;
	}
	
.enhaut a:hover{
	background-position:0 0;
	background-image:url(imgs/btn_cv.png);
	opacity:1;
	}
	
.au_centre a{
	position:relative;
	display:inline-block;
    width:30%;
    height:120px;
	background-size:100%;
	top:-106px;
   	background-image:url(images/m-MyLogo.png);
	background-repeat:no-repeat;
	animation: bounce 1.5s ease infinite;
	-webkit-animation: bounce 1.5s ease infinite;
	-moz-animation: bounce 1.5s ease infinite;
	-o-animation: bounce 1.5s ease infinite;
	cursor:url(imgs/crosshair.png), pointer;
	opacity:0.9;
}


	
.au_centre a:hover{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
		opacity:1;
		}

@keyframes bounce{
    0% {top: 50px;}
    50% {top: 86px;}
    100% {top: 50px;}
}

@-webkit-keyframes bounce{
    0% {top: 50px;}
    50% {top: 86px;}
    100% {top: 50px;}
}

@-moz-keyframes bounce{
    0% {top: 50px;}
    50% {top: 86px;}
    100% {top: 50px;}
}


@media only screen and (max-width: 48em) { /* 13 / 624 */
	.mq2-col-full {width: 100%;}
	.mq2-col-one-half {width: 50%; }
	.mq2-col-one-third { width: 33.333%; }
	.mq2-col-two-thirds {width: 66.666%; }
	.mq2-col-one-quarter {width: 25%; }
	.mq2-col-three-quarters {width: 75%; }
	/**/
	header nav { width: 100%; }
	header nav ul {  padding: 0 ; border-left:none; line-height: 2em; }
	header nav ul li { float: left;  padding: 0 1em ; border-left:1px solid #ddd; }
	.slider { margin-top: 3em; }
}
    
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 13 / 390 */
	.mq3-col-full { width: 100%; }
	.mq3-col-one-half { width: 50%; }
	.mq3-col-one-third { width: 33.333%; }
	.mq3-col-two-thirds { width: 66.666%; }
	.mq3-col-one-quarter { width: 25%; }
	.mq3-col-three-quarters { width: 75%; } 
	.mq3-none {display: none;}
	/**/
	header nav ul li { padding: 0 0.5em ; }
	footer li { float: none; margin-right: 0em; padding-right: 0em; border-right: none; line-height: 2em;}
	.services article {	margin-top: 3em;} .services article:first-of-type {	margin-top: 0;}	
}

@media screen and (max-width: 87.49em) and (min-width: 64em){
		.m-content{width:980px;} 
	}
@media screen and (max-width: 63.99em) and (min-width: 37.5em){
	.m-content{width:auto;padding: 0px 20px;}
	}

@media screen and (max-width:900px){
	.menu-vertical{display:none;}
	.top .au_centre{margin-left:100px;}
	}
	
@media screen and (max-width:700px){
	.nav-main a{padding-left:1em;padding-right:1em;}
	.enhaut a,.goslide,#jms-slideshow{display:none;}
	.top .au_centre {margin-left:24em;}
	#main_profil {padding-top: 130px;}
	}
	
@media screen and (max-width:500px){
	#main_profil{padding-top:70px;}
	#main{padding-top:20px;}
	.au_centre a{width: 70%;height:170px;}
	#top{padding-bottom:0px;}
	.m-content_header.clearfix{padding:0em 0.4em;}
	#global{margin: 40px auto 0px;}
	.nav-main a{padding-left:1.2em;padding-right:1.2em;}
	.nav-main a img,.enhaut a{display:none;}
	.top .au_centre {margin-left:12.5em;}
	}