<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template</title>
<link href="styles.css" rel="stylesheet" type="text/css"  />
</head>

<body>


<!-- Header-->
<div id="header">

	<div class="grid_12">
    
         <div class="header_top">
         <h1><a href="#" class="logo">Extérieur design</a></h1>
        <p class="call">Have any question ? <span> Call us today +1 (800) 123 4567 </span></p>
        
        
                 
     </div>
     
     <div id="nav">
        <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About us<span class="menu-arrow"></span> </a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">The process</a></li>
        <li><a href="#">Contacts</a></li>
        </ul>
        
        
     
        <form id="search">
        
        <input type="text">
        <a onclick="document.getElementById('search').submit()"></a>
        
        </form>
        
     </div>

        
     </div>
     
     
     <div class="container_12">
     	
     		<p class="Build">
            </p>
     
     
     </div>
    
</div>


<!---MAIN - PARTIE PRINCIPALE -->

<div class="welcome">

	<ul class="btn-feuille">
        <li class="feuille">
            <a href="#">
            <div id="logos-feuille"> </div>
            <div class="title"><span>C</span>reate</div></a>
        </li>
    
        <li class="feuille">
        	<a href="#">
        	<div id="logos-bird"></div>
            <div class="title"><span>B</span>reathe</div></a>
        </li>
    
        <li class="feuille">
        	<a href="#">
        	<div id="logos-tree"></div>
            <div class="title"><span>D</span>evelop</div></a>
        </li>
        
        <li class="feuille">
        	<a href="#">
        	<div id="logos-smile"></div>
            <div class="title"><span>S</span>mile</div></a>
        </li>
    
    </ul>
</div>

	<div id="dev">
    
    	<div class="wrapper">
        
            <div id="col1">
                <h1><span>T</span>emplate build by <span>E. HIVERT</span></h1>
                <p class="p2"><span>D</span>eveloped and <span class="green">integrated</span> with HTML/CSS, Jquery
                <br />
                <span>W</span>ith <span class="green">layout editor</span> Dreamweaver, Notepad, or Sublimetext,
                <br />
                <span class="green2">D</span><span class="green">esigned</span> with Photoshop, Illustrator
                <br />
                <span>P</span>ictograms <span class="green">created</span> by myself
                </p>
                
                <a class="more" href="#">More information<img src="imgs/arrow_rtl.png" width="13" height="7"/></a>
            
            </div>
    
    
            <div id="col2">
                <div class="title-2">SPECIALITIES</div>
                
                <div class="part1">
                    <a href="#">Web Design<span class="actif-arrow"></span></a>
                    <div class="details"> # <span>A</span>re you looking for original or modern design iconography ? </div>
                    <a href="#">html5 & css3<span class="arrow-line"></span></a>
                    <a href="#">Jquery, PHP<span class="arrow-line"></span></a>
                    <a href="#">Flash & After Effects<span class="arrow-line"></span></a>
                </div>
            </div>
            
            </div>
        
        <hr>
        
        <div class="wrapper-2">
        	
            <div class="title-2">THE PROCESS</div>
            
        	<div id="articles"> 
            	
        		<div class="article"><img src="imgs/process1.jpeg" width="300" height="137" />
                <h2><a href="#"> Phase 1 - Ergonomy & Design UX<img src="imgs/arrow_rtl.png" width="13" height="7"></a></h2>
                <p class="p3"><span>T</span>he most important part of my work consists in creating the unique framework for your website.</p>
                <a class="more" href="#">More information<img src="imgs/arrow_rtl.png" width="13" height="7"/></a>
                </div>
                
                <div class="article"><img src="imgs/process2.jpeg" width="300" height="137" />
                <h2><a href="#"> Phase 2 - Design web <img src="imgs/arrow_rtl.png" width="13" height="7"></a></h2>
                <p class="p3"><span>W</span>ith my design, you will make the difference.</p>
                <a class="more" href="#">More information<img src="imgs/arrow_rtl.png" width="13" height="7"/></a>
                
                </div>
                
                <div class="article"><img src="imgs/process3.jpeg" width="300" height="137" />
                <h2><a href="#"> Phase 3 - Html or another <img src="imgs/arrow_rtl.png" width="13" height="7"></a></h2>
                <p class="p3"><span>B</span>eginning from the previous part, i will be able to make your wish come true. </p>
                <a class="more" href="#">More information<img src="imgs/arrow_rtl.png" width="13" height="7"/></a>
                </div>
                
        	</div>
        
        </div>
        
    <hr>
    
    </div>
    
    
    <div id="footer"> 
    <p class="p4"> <span>C</span>reation & <span>d</span>evelopment by <span>E. H</span>ivert </p> 
    </div>
    
</body>



</html>
